.collection-preview{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.collection-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 28px ;
    font-weight:500 ;
    font-style: normal;
    text-transform: uppercase;
}